---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for item in collections.all %}
  {%- if item.url and item.url[0] == '/' %}
  <url>
    <loc>https://vmgba.com{{ item.url }}</loc>
    <lastmod>{{ (item.date or item.data.date) | date("yyyy-MM-dd") }}</lastmod>
    <changefreq>monthly</changefreq>
    {# home gets higher priority #}
    {%- if item.url == '/' -%}
      <priority>1.0</priority>
    {%- else -%}
      <priority>0.7</priority>
    {%- endif -%}
  </url>
  {%- endif %}
{%- endfor %}
</urlset>
